<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

        <title>ISS Location service</title>
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>The Internationl Space Station is pretty cool. Here are some cool facts: <a href="https://www.nasa.gov/feature/facts-and-figures" target="_blank">https://www.nasa.gov/feature/facts-and-figures</a></p>
            <img class="portrait" src="/img/space-station.jpg" alt="">
        </div>
        {{>footer}}
    </body>
</html>